$dark-purple: #32021fff;
$eggplant: #4b2e39ff;
$chinese-violet: #6c596eff;
$slate-gray: #6f7d8cff;
$cadet-gray: #77a0a9ff;

$gradient-radial: radial-gradient($dark-purple, $eggplant, $chinese-violet, $slate-gray, $cadet-gray);
