<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" class="sidenav"
    (closedStart)="closeSidenav()">

    <mat-toolbar color="primary">Menu</mat-toolbar>

    <mat-nav-list class="nav-list">
      <div class="nav-content">
        <div>
          <mat-list-item routerLink="/home" routerLinkActive="active-link" (click)="isMobile ? drawer.close() : null">
            <mat-icon>home</mat-icon>
            <span>Inicio</span>
          </mat-list-item>
          <mat-list-item routerLink="/create-room" routerLinkActive="active-link"
            (click)="isMobile ? drawer.close() : null">
            <mat-icon>add_circle</mat-icon>
            <span>Crear Sala</span>
          </mat-list-item>
          <mat-list-item routerLink="/rooms" routerLinkActive="active-link"
            (click)="isMobile ? drawer.close() : null">
            <mat-icon>qr_code</mat-icon>
            <span>Salas</span>
          </mat-list-item>
          <mat-list-item routerLink="/results" routerLinkActive="active-link"
            (click)="isMobile ? drawer.close() : null">
            <mat-icon>bar_chart</mat-icon>
            <span>Resultados</span>
          </mat-list-item>
        </div>

        <div class="spacer"></div>
        <div class="logout-wrapper">
          <button mat-button (click)="logout()" class="logout-btn">
            <mat-icon>logout</mat-icon>
            Cerrar sesion
          </button>
        </div>
      </div>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isMobile">
        <mat-icon>menu</mat-icon>
      </button>

      Vote App
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
